    </div>

    <div class="footer-padding">
      <div class="footer navbar navbar-light">
        <!-- <p>Made by Steve.</p> -->
        <a href='https://github.com/StevenSigil'>Made by Steve</a>
      </div>
    </div>

  </body>
</html>